@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Targu Mures<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">MagazinAutoSuport@gmail.com</a><br />
</address>