@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Magazin Auto</h1>
    <p class="lead">Magazinul nostru contine produse variate pentru intretinerea autoturismelor.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Disclaimer</h2>
        <p>
            Acest site este incomplet si unul functionalitati nu sunt implementate
        </p>
    </div>
</div>